body {
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #522952;
}

td {
  width: 25rem;
}

.details-modal-button {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  height: 2.5rem;
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: #FD7F32;
  border: 1px solid #FD7F32;
  border-radius: 7px;
  color: #522952;
}

.details-modal-button:hover {
  background-color: #ff7621;
}

.section-header {
  width: 99%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.section-header span {
  background-color: #f8f4f8;
  padding-left: 1.5rem;
  /* padding-right: 1rem; */
  letter-spacing: .1rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #884488;

}

.section-title {
  display: inline-block;
  width: 96%;
  margin-left: 1%;
  margin-bottom: 10px;
  border-bottom: 2px solid #884488;
}

#details-modal {
  background-color: #f8f4f8;
  color: #522952;
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
  width: 50rem;
  margin-left: 6px;
  padding-top: 30px;
}

#rating-notes {
  margin-left: 2rem;
  width: 95%;
  height: 5rem;
  border: 1px solid #884488;
}

#restaurant-name {
  font-family: 'Fredoka One', sans-serif;
  letter-spacing: .3rem;
  text-align: center;
  font-size: 2.5rem;
}

#last-edited-date {
  font-weight: 300;
  letter-spacing: 0rem;
  font-size: 1rem;
  padding-left: 0.5rem;
}